# MySQL資料庫控制
參考文件 https://www.runoob.com/python3/python-mysql-connector.html

## 安裝程式
pip install mysql-connector-python

In [24]:
import mysql.connector

In [25]:
# 連接資料庫
conn = mysql.connector.connect(
  host="localhost",       # 数据库主机地址
  user="classtest",    # 数据库用户名
  passwd="test123456"   # 数据库密码
)
conn

In [26]:
# 建立資料庫操作物件
cursor = conn.cursor()
cursor

測試用的命令
INSERT INTO python.orders (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')

In [15]:
# 執行SQL命令
cursor.execute("INSERT INTO python.orders (id, sales_id, sale_date, price) VALUES ('33', '3', '2020/03/09', '21.7')")

In [27]:
# 必須執行這行指令資料庫才會進行更新
conn.commit()

In [16]:
# 當SQL指令錯誤時會產生ERROR
cursor.execute("INSERT INTO orders22 (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')")

ProgrammingError: 1046 (3D000): No database selected

## 查詢資料

In [18]:
# 取得查詢的資料
cursor.execute('select * from python.sales')
for id, name, city in cursor:
    print(id, name, city)

1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市

In [29]:
# 使用 fetchall 將資料一次全部抓到 Python 中再處理
cursor.execute('select * from python.sales')
records = cursor.fetchall()
print("資料筆數：", cursor.rowcount)

for id, name, city in records:
    print(id, name, city)

資料筆數： 3
1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市

In [30]:
records

[(1, 'Ken', '台北市'), (2, 'Kim', '台中市'), (3, 'Niki', '桃園市')]

In [31]:
# 關閉資料庫連線
conn.close()

## 練習題

In [ ]:
# 請參考 Irir.csv 建立一個資料表，然後將資料轉換進資料庫中

In [ ]:
# 請透過先前建立的Iris的資料表計算出四個主要欄位的平均值
# SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm

In [ ]:
# 請透過先前建立的Iris的資料表列出Species這個欄位中的有哪些不重複的值