# <font color = 'green'> 文件主要參考 https://docs.python.org/zh-tw/3/tutorial/index.html

***test***

# 數字

In [43]:
1+2

3

In [44]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [45]:
17 / 3  # 浮點計算

5.666666666666667

In [46]:
17 // 3  # 當成整數來除

5

In [47]:
17 % 3  # 求除法的餘數

2

In [10]:
# 5 ^ 2
5 ** 2

25

In [11]:
# 2 ^ 8
2 ** 8

256

In [12]:
# 將數字存在變數中再[進行運算
寬 = 5
高 = 10
寬 * 高

50

# 字串 String

In [14]:
# 可以用單引號也可以用雙引號
'Hello world'
"Hello world"

'Hello world'

In [17]:
# 當字串中有單引號時的用法
'Clement\'s dog'

"Clement's dog"

In [18]:
# 字串可以使用 + 運算子連接 (concatenate)，並用 * 重覆該字串的內容
3 * 'un' + 'ium'

'unununium'

In [19]:
# 兩個以上相鄰的字串值（string literal，即被引號包圍的字串）會被自動連接起來
'Py' 'thon'

'Python'

In [20]:
# 當你想要分段一個非常長的字串時，兩相鄰字串值自動連接的特性十分有用
text = ('Put several strings within parentheses '
    'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [33]:
# 需要使用 + 這個運算子來連接
prefix = 'Py'
prefix = prefix + 'thon'
prefix

'Python'

In [52]:
# 正確的方法是要轉型
name = 'Clement'
age = 48
s = name + "'s age is " + str(age)  #method 1
s = "%s's age is %d"%(name,age)     #method 2
print(s)

Clement's age is 48

In [23]:
# 字串可以被「索引 indexed」(下標，即 subscripted)，第一個字元的索引值為 0。
# 沒有獨立表示字元的型別；
# 一個字元就是一個大小為 1 的字串
word = 'Python'
print(word[5])
print(word[0:-1])

n
Pytho

In [37]:
print(word[:2])  # 取出前兩個字元
print(word[-2:]) # 取出最後兩個字元 (更容易的方式)
print(word[4:])  # 取出最後兩個字元

Py
on
on

In [ ]:
# 取得字串長度
len(word)

6

# List 串列

In [50]:
# List 像是一個陣列，儲存多個數值
squares = [1, 4, 9, 16, 25]
squares[-3:]

[9, 16, 25]

In [ ]:
# 可以連結兩個 list
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 跟字串不一樣的是 list 內的子元素是可以修改的
cubes = [1, 8, 27, 65, 125]
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [ ]:
# 新增一個新元素到list最後面
cubes.append(216)

In [ ]:
# 也可以對 slice 賦值，這能改變 list 的大小
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
# 移除部分的元素
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [ ]:
# 移除全部的元素
letters[:] = []
letters

[]

In [ ]:
# 取得 list 的長度跟字串一樣方法
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [ ]:
# 可以嵌套多層 list （建立 list 包含其他 list）
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
# 等同於一個二維的矩陣
x[0][1]

'b'

# %d

In [53]:
'My age is [%3d]'%(48)

'My age is [ 48]'

In [54]:
'My age is [%03d]'%(48)

'My age is [048]'

In [55]:
'The price is [%1.2f]'%12345.5

'The price is [12345.50]'

In [56]:
# 3.6 版以後的作法
name = 'Clement'
age = 48
s = f"{name}'s age is {age}"
print(s)

Clement's age is 48

In [57]:
x = 12345.5
f'The price is [{x:9.2f}]'

'The price is [ 12345.50]'

# 字串處理

In [60]:
x = '  12345  '
x.strip()   # 去左右(strip)空格

'12 345'

In [59]:
x = '  12345  '
x.lstrip()  # 去左(l)空格

'12345  '

In [61]:
x = '  12345  '
x.rstrip()  # 去右(r)空格

'  12345'

In [62]:
x = '___123__45____'
x.replace('_','')    #replace

'12345'

In [63]:
x = '0123456789'
x.index('4')

4

In [65]:
x = '0123456789'
x.find('45')      # from right

4

In [66]:
x = '0123456789012345789'
x.rfind('45')      #from left

14

In [67]:
x = 'If suddenly' \
    'you forget me' \
    'do not look for me'
x.split(' ')

['If', 'suddenlyyou', 'forget', 'medo', 'not', 'look', 'for', 'me']

In [68]:
sports = ['cricket', 'football', 'volleyball']
sports.insert(2,"horseback riding") #插入
print(sports)

sports.remove("horseback riding") #刪除
print(sports)

sports.append("new")  #尾部新增
print(sports)

sports.sort()     #正排序
print(sports)

sports.reverse()  #倒序
print(sports)

['cricket', 'football', 'horseback riding', 'volleyball']
['cricket', 'football', 'volleyball']
['cricket', 'football', 'volleyball', 'new']
['cricket', 'football', 'new', 'volleyball']
['volleyball', 'new', 'football', 'cricket']

In [81]:
x = 'if suddenly you forget me do not look for me'
x.capitalize()  #字符串的第一个字母变成大写,其他字母变小写。

'If suddenly you forget me do not look for me'

In [82]:
x.upper()

'IF SUDDENLY YOU FORGET ME DO NOT LOOK FOR ME'

In [83]:
x.lower()

'if suddenly you forget me do not look for me'

In [84]:
x.title()  #所有单词都是以大写开始，其余字母均为小写

'If Suddenly You Forget Me Do Not Look For Me'

In [73]:
x = '12355'
x.isdigit()

True

In [85]:
x.isalpha()

False

In [86]:
x.isalnum()

False

In [76]:
import re
str = 'This is-a test, for programing'
t = re.split(' |,|-',str)
print(t)

['This', 'is', 'a', 'test', '', 'for', 'programing']

# 面試題目

In [87]:
t=(1,2,3,4)
t[1:-1]

(2, 3)

In [92]:
l1 =[1,2,3]
l2 =[4,5,6]
l3 =[7,8,9]
for x,y,z in zip(l1,l2,l3):
    print(x,y,z)

1 4 7
2 5 8
3 6 9

In [94]:
a1= ["芸芸", "萱萱", "琳琳", "娜娜"]
a2 = ["天秤", "金牛", "雙魚","雙子"]
a3 = ["餅乾", "巧克力", "草莓", "蛋糕"]
zipped = zip(friends, stars, likes)
print(list(zipped)) # zipped是迭代器，需要需list()函數轉回列表

[('芸芸', '天秤', '餅乾'), ('萱萱', '金牛', '巧克力'), ('琳琳', '雙魚', '草莓'), ('娜娜', '雙子', '蛋糕')]

In [98]:
# set() 函式是python內建函式的其中一個。建立一個無序不重複元素集

nums = [1,1,2,3,3,3,4,4]
print(len(nums))

nums2 = set([1,1,2,3,3,3,4,4])
print(len(nums2))

8
4

## 串列可以修改，而tuple不能修改

In [104]:
my_tuple = (1,2,3,4)
my_tuple.append(5,6,7)

AttributeError: 'tuple' object has no attribute 'append'

In [105]:
my_tuple = [(1,2,3,4)]
my_tuple.append(5)
my_tuple

[(1, 2, 3, 4), 5]

In [109]:
def func(a,b=5,c=10):
    print(a,b,c)
    
func(3,7) 
func(25,c=24)
func(c=50,a=100)

3 7 10
25 5 24
100 5 50

In [111]:
a = {4,5,6}
b = {2,8,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# loc 基於行列標籤（x_label、y_label）進行索引

In [112]:
###  隨機生DataFrame 型別資料
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.671105  0.316595  0.732872  0.755274
b  0.175792  0.624771  0.798945  0.670132
c  0.029208  0.658836  0.839624  0.798358
d  0.813646  0.941132  0.437745  0.890718

In [114]:
### .loc先行後列，基於行標籤和列標籤（x_label、y_label）進行索引
frame.loc['a','A']

0.6711045725160665

In [115]:
           #a:b  #all
frame.loc['a':'b',:]

          A         B         C         D
a  0.671105  0.316595  0.732872  0.755274
b  0.175792  0.624771  0.798945  0.670132

In [116]:
### 取前兩行和前兩列對應資料
frame.loc['a':'b','A':'B']

          A         B
a  0.671105  0.316595
b  0.175792  0.624771

# iloc 基於行索引和列索引（index，columns） 都是從 0 開始

In [117]:
### .loc先行後列，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.iloc[0,0]

0.6711045725160665

In [118]:
### 取前兩行對應資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.671105  0.316595  0.732872  0.755274
b  0.175792  0.624771  0.798945  0.670132