# SQLite資料庫控制
參考文件 https://www.runoob.com/sqlite/sqlite-python.html

In [1]:
# 連接資料庫
import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')
conn

In [2]:
# 建立資料庫操作物件
cursor = conn.cursor()
cursor

測試用的命令
INSERT INTO orders (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')

In [3]:
# 執行SQL命令
result = cursor.execute("INSERT INTO orders (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')")
result

In [17]:
# 必須執行這行指令資料庫才會進行更新
conn.commit()
#conn.close()

In [18]:
# 當SQL指令錯誤時會產生ERROR
#result = cursor.execute("INSERT INTO orders22 (id, sales_id, sale_date, price) VALUES ('30', '3', '2020/03/09', '21.7')")
result

# table:orders
#     -id
#     -sales_id
#     -sales_date
#     -price
# table:sales
#     -id
#     -name
#     -city

## 查詢資料

In [8]:
# 取得查詢的資料
cursor.execute('select * from sales')
for id, name, city in cursor:
    print(id, name, city)

1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市

In [13]:
import sqlite3
sql = "UPDATE sales SET name = 'Andy' where id = 1"
conn = sqlite3.connect('data/SQL_TEST.db')
cursor = conn.cursor()

cursor.execute('select * from sales')
for id, name, city in cursor:
    print(id, name, city)
    
conn.commit()
conn.close()

1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市

In [25]:
# 使用 fetchall 將資料一次全部抓到 Python 中再處理
cursor.execute('select * from sales')
records = cursor.fetchall()
print("資料筆數：", cursor.rowcount)

for id, name, city in records:
    print(id, name, city)

資料筆數： -1
1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市

In [26]:
records

[(1, 'Ken', '台北市'), (2, 'Kim', '台中市'), (3, 'Niki', '桃園市')]

In [16]:
# 關閉資料庫連線
conn.close()

In [7]:
# 練習題
# 從 orders 裡尋找 價格小於20元的訂單，並列出來


import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')

cursor = conn.cursor()

sql = 'select * from orders where price < 20'
cursor.execute(sql)

for id, sales_id, sale_date, price in cursor:
    print(id, sales_id, sale_date, price)
 
conn.commit()
conn.close()

4 1 2020/03/05 14.6
5 3 2020/03/06 14.6
11 1 2020/03/14 15.6
12 1 2020/03/14 15.6
13 2 2020/03/06 13.2
14 2 2020/03/04 14.6
15 1 2020/03/04 11.0
17 1 2020/03/24 8.2
22 2 2020/03/09 11.5

In [8]:
# 練習題
# 請統計 2020/03/04 當天營業額的總和
import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')

cursor = conn.cursor()

sql = "select sum(price) from orders where sale_date = '2020/03/04'"
cursor.execute(sql)

for total in cursor:
    print(total)
 
conn.commit()
conn.close()

(227.0,)

In [9]:
# 練習題
# 請分開統計 每天營業額的總和

import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')

cursor = conn.cursor()

sql = "select sum(price), sale_date from orders group by sale_date"
cursor.execute(sql)

for total, date in cursor:
    print(date, total)
 
conn.commit()
conn.close()

2020/02/17 75.0
2020/03/04 227.0
2020/03/05 54.7
2020/03/06 27.799999999999997
2020/03/09 158.6
2020/03/14 31.2
2020/03/24 58.8

In [10]:
# 練習題
# 請分開統計 每天每個營業員的營業額總和
import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')

cursor = conn.cursor()

sql = "select sum(price), sale_date, sales_id from orders group by sale_date, sales_id"
cursor.execute(sql)

for total, date, sales_id in cursor:
    print(sales_id, date, total)
 
conn.commit()
conn.close()

1 2020/02/17 33.5
3 2020/02/17 41.5
1 2020/03/04 105.5
2 2020/03/04 88.3
3 2020/03/04 33.2
1 2020/03/05 54.7
2 2020/03/06 13.2
3 2020/03/06 14.6
1 2020/03/09 40.2
2 2020/03/09 11.5
3 2020/03/09 106.9
1 2020/03/14 31.2
1 2020/03/24 58.8

In [11]:
# 練習題
# 請分開統計 每天每個營業員的營業額總和，同時列出營業員名字跟日期
import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')

cursor = conn.cursor()

sql = "select sum(price), sale_date, sales_id, name from orders join sales on orders.sales_id = sales.id group by sale_date, sales_id"
cursor.execute(sql)

for total, date, sales_id, name in cursor:
    print(sales_id, name, date, total)
 
conn.commit()
conn.close()

1 Ken 2020/02/17 33.5
3 Niki 2020/02/17 41.5
1 Ken 2020/03/04 105.5
2 Kim 2020/03/04 88.3
3 Niki 2020/03/04 33.2
1 Ken 2020/03/05 54.7
2 Kim 2020/03/06 13.2
3 Niki 2020/03/06 14.6
1 Ken 2020/03/09 40.2
2 Kim 2020/03/09 11.5
3 Niki 2020/03/09 106.9
1 Ken 2020/03/14 31.2
1 Ken 2020/03/24 58.8