# SQLite資料庫控制
參考文件 https://www.runoob.com/sqlite/sqlite-python.html

- https://www.w3schools.com/sql/default.asp
- http://tw.gitbook.net/sqlite/sqlite_select_query.html

In [1]:
# 連接資料庫
import sqlite3
conn = sqlite3.connect('data/SQL_TEST.db')   #API
cursor = conn.cursor()   # 建立資料庫操作物件
cursor

In [2]:
#conn.commit() # 必須執行這行指令資料庫才會進行更新
#conn.close()

## 新增資料 INSERT INTO 
- Python 控制 SQL 端做資料新增
- INSERT INTO Table (A, B, C) VALUES ('A', 'B', 'C')

In [3]:
result = cursor.execute(
    "INSERT INTO orders (id, sales_id, sale_date, price) VALUES ('26', '3', '2021/01/05', '19.2')"
)
conn.commit()

In [4]:
result = cursor.execute(
    "INSERT INTO sales (id, name, city) VALUES ('8', 'Man','台南市')"
)
conn.commit()

## 刪除資料 Delete from

- DELETE FROM table_name WHERE condition;

In [7]:

result = cursor.execute(
    "delete from sales where id = 7"
)
conn.commit()

## 修改資料 Update_Set_where

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

In [8]:
result = cursor.execute(
    "UPDATE orders SET price = 12.1 where id = 15"
)
conn.commit()

## 查詢資料 select * from table

In [ ]:
# sql = "UPDATE sales SET name = 'Andy' where id = 1"
# conn = sqlite3.connect('data/SQL_TEST.db')
# cursor = conn.cursor()

In [10]:
cursor.execute('select * from sales')

for id, name, city in cursor:
    print(id, name, city)

1 Ken 台北市
2 Kim 台中市
3 Niki 桃園市
4 Jerry 台北市
5 Rudy 台北市
6 Nick 高雄市

In [11]:
# 使用 fetchall 將資料一次全部抓到 Python 中再處理

cursor.execute('select * from orders where sales_id = 1')
records = cursor.fetchall()
records

#print("資料筆數：", cursor.rowcount)

[(1, 1, '2020/03/04', 41.5),
 (3, 1, '2020/03/04', 21.3),
 (4, 1, '2020/03/05', 14.6),
 (6, 1, '2020/03/04', 31.7),
 (8, 1, '2020/02/17', 33.5),
 (10, 1, '2020/03/05', 40.1),
 (11, 1, '2020/03/14', 15.6),
 (12, 1, '2020/03/14', 15.6),
 (15, 1, '2020/03/04', 12.1),
 (16, 1, '2020/03/24', 50.6),
 (17, 1, '2020/03/24', 8.2),
 (20, 1, '2020/03/09', 51.1),
 (21, 1, '2020/03/09', 20.1)]

In [12]:
# A and B filter

cursor.execute('select * from orders where sales_id=1 and price>30')
records = cursor.fetchall()
records

[(1, 1, '2020/03/04', 41.5),
 (6, 1, '2020/03/04', 31.7),
 (8, 1, '2020/02/17', 33.5),
 (10, 1, '2020/03/05', 40.1),
 (16, 1, '2020/03/24', 50.6),
 (20, 1, '2020/03/09', 51.1)]

In [13]:
# Sort by

cursor.execute('select * from orders where sales_id = 1 and price > 20 order by sale_date and price')
records = cursor.fetchall()
records

[(1, 1, '2020/03/04', 41.5),
 (3, 1, '2020/03/04', 21.3),
 (6, 1, '2020/03/04', 31.7),
 (8, 1, '2020/02/17', 33.5),
 (10, 1, '2020/03/05', 40.1),
 (16, 1, '2020/03/24', 50.6),
 (20, 1, '2020/03/09', 51.1),
 (21, 1, '2020/03/09', 20.1)]

In [14]:
# descend （降序）

cursor.execute('select * from orders where sales_id = 1 and price > 20 order by sale_date DESC')
records = cursor.fetchall()
records

[(16, 1, '2020/03/24', 50.6),
 (20, 1, '2020/03/09', 51.1),
 (21, 1, '2020/03/09', 20.1),
 (10, 1, '2020/03/05', 40.1),
 (1, 1, '2020/03/04', 41.5),
 (3, 1, '2020/03/04', 21.3),
 (6, 1, '2020/03/04', 31.7),
 (8, 1, '2020/02/17', 33.5)]

In [15]:
# Return Unique

cursor.execute('select DISTINCT sale_date from orders')
records = cursor.fetchall()
records

[('2020/03/04',),
 ('2020/03/05',),
 ('2020/03/06',),
 ('2020/02/17',),
 ('2020/03/14',),
 ('2020/03/24',),
 ('2020/03/09',),
 ('2020/12/04',),
 ('2021/01/01',),
 ('2021/01/02',),
 ('2021/01/05',)]

In [16]:
# Return Unique and sort(order) by date

cursor.execute('select DISTINCT sales_id, sale_date from orders order by sale_date')
records = cursor.fetchall()
records

[(3, '2020/02/17'),
 (1, '2020/02/17'),
 (1, '2020/03/04'),
 (2, '2020/03/04'),
 (3, '2020/03/04'),
 (1, '2020/03/05'),
 (3, '2020/03/06'),
 (2, '2020/03/06'),
 (3, '2020/03/09'),
 (1, '2020/03/09'),
 (2, '2020/03/09'),
 (1, '2020/03/14'),
 (1, '2020/03/24'),
 (5, '2020/12/04'),
 (3, '2021/01/01'),
 (4, '2021/01/02'),
 (3, '2021/01/05')]

In [17]:
# 從 orders 裡尋找 價格小於20元的訂單，並列出來

sql = 'select * from orders where price < 20'
cursor.execute(sql)

for id, sales_id, sale_date, price in cursor:
    print(id, sales_id, sale_date, price)

4 1 2020/03/05 14.6
5 3 2020/03/06 14.6
11 1 2020/03/14 15.6
12 1 2020/03/14 15.6
13 2 2020/03/06 13.2
15 1 2020/03/04 12.1
17 1 2020/03/24 8.2
22 2 2020/03/09 11.5
25 4 2021/01/02 12.2
26 3 2021/01/05 19.2

## Join 資料表結合查詢

SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;

- 主鍵（PK) to 外鍵(FK)

In [18]:
# 結合兩個資料表一起看

cursor.execute('select * from orders join sales on sales_id = sales.id')
records = cursor.fetchall()
records

[(1, 1, '2020/03/04', 41.5, 1, 'Ken', '台北市'),
 (2, 2, '2020/03/04', 40.2, 2, 'Kim', '台中市'),
 (3, 1, '2020/03/04', 21.3, 1, 'Ken', '台北市'),
 (4, 1, '2020/03/05', 14.6, 1, 'Ken', '台北市'),
 (5, 3, '2020/03/06', 14.6, 3, 'Niki', '桃園市'),
 (6, 1, '2020/03/04', 31.7, 1, 'Ken', '台北市'),
 (7, 3, '2020/02/17', 41.5, 3, 'Niki', '桃園市'),
 (8, 1, '2020/02/17', 33.5, 1, 'Ken', '台北市'),
 (9, 2, '2020/03/04', 33.5, 2, 'Kim', '台中市'),
 (10, 1, '2020/03/05', 40.1, 1, 'Ken', '台北市'),
 (11, 1, '2020/03/14', 15.6, 1, 'Ken', '台北市'),
 (12, 1, '2020/03/14', 15.6, 1, 'Ken', '台北市'),
 (13, 2, '2020/03/06', 13.2, 2, 'Kim', '台中市'),
 (14, 2, '2020/03/04', 31.1, 2, 'Kim', '台中市'),
 (15, 1, '2020/03/04', 12.1, 1, 'Ken', '台北市'),
 (16, 1, '2020/03/24', 50.6, 1, 'Ken', '台北市'),
 (17, 1, '2020/03/24', 8.2, 1, 'Ken', '台北市'),
 (18, 3, '2020/03/04', 33.2, 3, 'Niki', '桃園市'),
 (19, 3, '2020/03/09', 20.1, 3, 'Niki', '桃園市'),
 (20, 1, '2020/03/09', 51.1, 1, 'Ken', '台北市'),
 (21, 1, '2020/03/09', 20.1, 1, 'Ken', '台北市'),
 (22, 2, '2020/03/09', 11.5, 2, 'Kim', '台中市'),
 (23, 5, '2020/12/04', 50.2, 5, 'Rudy', '台北市'),
 (24, 3, '2021/01/01', 22.2, 3, 'Niki', '桃園市'),
 (25, 4, '2021/01/02', 12.2, 4, 'Jerry', '台北市'),
 (26, 3, '2021/01/05', 19.2, 3, 'Niki', '桃園市')]

In [19]:
# 另一種結合資料表的寫法

cursor.execute('select * from orders ,sales where sales_id = sales.id')
records = cursor.fetchall()
records

[(1, 1, '2020/03/04', 41.5, 1, 'Ken', '台北市'),
 (2, 2, '2020/03/04', 40.2, 2, 'Kim', '台中市'),
 (3, 1, '2020/03/04', 21.3, 1, 'Ken', '台北市'),
 (4, 1, '2020/03/05', 14.6, 1, 'Ken', '台北市'),
 (5, 3, '2020/03/06', 14.6, 3, 'Niki', '桃園市'),
 (6, 1, '2020/03/04', 31.7, 1, 'Ken', '台北市'),
 (7, 3, '2020/02/17', 41.5, 3, 'Niki', '桃園市'),
 (8, 1, '2020/02/17', 33.5, 1, 'Ken', '台北市'),
 (9, 2, '2020/03/04', 33.5, 2, 'Kim', '台中市'),
 (10, 1, '2020/03/05', 40.1, 1, 'Ken', '台北市'),
 (11, 1, '2020/03/14', 15.6, 1, 'Ken', '台北市'),
 (12, 1, '2020/03/14', 15.6, 1, 'Ken', '台北市'),
 (13, 2, '2020/03/06', 13.2, 2, 'Kim', '台中市'),
 (14, 2, '2020/03/04', 31.1, 2, 'Kim', '台中市'),
 (15, 1, '2020/03/04', 12.1, 1, 'Ken', '台北市'),
 (16, 1, '2020/03/24', 50.6, 1, 'Ken', '台北市'),
 (17, 1, '2020/03/24', 8.2, 1, 'Ken', '台北市'),
 (18, 3, '2020/03/04', 33.2, 3, 'Niki', '桃園市'),
 (19, 3, '2020/03/09', 20.1, 3, 'Niki', '桃園市'),
 (20, 1, '2020/03/09', 51.1, 1, 'Ken', '台北市'),
 (21, 1, '2020/03/09', 20.1, 1, 'Ken', '台北市'),
 (22, 2, '2020/03/09', 11.5, 2, 'Kim', '台中市'),
 (23, 5, '2020/12/04', 50.2, 5, 'Rudy', '台北市'),
 (24, 3, '2021/01/01', 22.2, 3, 'Niki', '桃園市'),
 (25, 4, '2021/01/02', 12.2, 4, 'Jerry', '台北市'),
 (26, 3, '2021/01/05', 19.2, 3, 'Niki', '桃園市')]

# 數值運算可利用 for 迴圈

In [20]:
# 請統計 2020/03/04 當天營業額的總和

sql = "select sum(price) from orders where sale_date = '2020/03/04'"
cursor.execute(sql)

for total in cursor:
    print(total)

(244.59999999999997,)

In [21]:
# 請分開統計 每天營業額的總和

sql = "select sum(price), sale_date from orders group by sale_date"
cursor.execute(sql)

for total, date in cursor:
    print(date, total)

2020/02/17 75.0
2020/03/04 244.59999999999997
2020/03/05 54.7
2020/03/06 27.799999999999997
2020/03/09 102.80000000000001
2020/03/14 31.2
2020/03/24 58.8
2020/12/04 50.2
2021/01/01 22.2
2021/01/02 12.2
2021/01/05 19.2

In [22]:
# 請分開統計 每天每個營業員的營業額總和

sql = "select sum(price), sale_date, sales_id from orders group by sale_date, sales_id"
cursor.execute(sql)

for total, date, sales_id in cursor:
    print(sales_id, date, total)

1 2020/02/17 33.5
3 2020/02/17 41.5
1 2020/03/04 106.6
2 2020/03/04 104.80000000000001
3 2020/03/04 33.2
1 2020/03/05 54.7
2 2020/03/06 13.2
3 2020/03/06 14.6
1 2020/03/09 71.2
2 2020/03/09 11.5
3 2020/03/09 20.1
1 2020/03/14 31.2
1 2020/03/24 58.8
5 2020/12/04 50.2
3 2021/01/01 22.2
4 2021/01/02 12.2
3 2021/01/05 19.2

In [23]:
# 請分開統計 每天每個營業員的營業額總和，同時列出營業員名字跟日期

sql = "select sum(price), sale_date, sales_id, name from orders join sales on orders.sales_id = sales.id group by sale_date, sales_id"
cursor.execute(sql)

for total, date, sales_id, name in cursor:
    print(sales_id, name, date, total)

1 Ken 2020/02/17 33.5
3 Niki 2020/02/17 41.5
1 Ken 2020/03/04 106.6
2 Kim 2020/03/04 104.80000000000001
3 Niki 2020/03/04 33.2
1 Ken 2020/03/05 54.7
2 Kim 2020/03/06 13.2
3 Niki 2020/03/06 14.6
1 Ken 2020/03/09 71.2
2 Kim 2020/03/09 11.5
3 Niki 2020/03/09 20.1
1 Ken 2020/03/14 31.2
1 Ken 2020/03/24 58.8
5 Rudy 2020/12/04 50.2
3 Niki 2021/01/01 22.2
4 Jerry 2021/01/02 12.2
3 Niki 2021/01/05 19.2

## --------創造資料表 ---------

## Create Table

CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

In [ ]:
CREATE TABLE "sales" (
	"id"	INTEGER,
	"name"	TEXT,
	"city"	TEXT
);

In [ ]:
CREATE TABLE "orders" (
	"id"	INTEGER,
	"sales_id"	INTEGER,
	"sale_date"	TEXT,
	"price"	REAL
);

In [ ]:
CREATE INDEX "order_sales_id" ON "orders" (
	"sales_id"
)

In [ ]:
CREATE INDEX "sales_id" ON "sales" (
	"id"
)

In [ ]:
## Create Table

CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);

CREATE TABLE "sales" (
	"id"	INTEGER,
	"name"	TEXT,
	"city"	TEXT
);

CREATE TABLE "orders" (
	"id"	INTEGER,
	"sales_id"	INTEGER,
	"sale_date"	TEXT,
	"price"	REAL
);

CREATE INDEX "order_sales_id" ON "orders" (
	"sales_id"
)

CREATE INDEX "sales_id" ON "sales" (
	"id"
)